body {
  background-color: #334;
  font-family: sans-serif;
  color: #fff;
  font-size: 10px;
  width: 1200px;           /* force horizontal scrolling */
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.all {
  margin-top: -50px;
}
.top {
  clear: both;
  min-width: 2000px;
  padding-top: 0;
}
.summary-container {
  position: absolute;
  top: 80px;
  left: 950px;
}
.summaries {
  float: left;
  padding: 0;
  min-width: 225px;
}
.summary-chart {
  margin-top: 10px;
  margin-left: 10px;
  min-width: 202px;
  min-height: 192px;
  background-color: #606060;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.summary-table {
  display: inline;
}
.summary-chart-item {
  margin: 5px;
}
.summary-chart-label {
  font-weight: bold;
}
.summary-chart-value {
  margin-left: 5px;
}

.what-if-chart {
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 10px;
  min-width: 202px;
  min-height: 170px;
  background-color: #606060;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.what-if-table {
  min-height: 60px;
}

.what-if-header {
  font-weight: bold;
}

.what-if-input {
  display: inline-block;
  width: 60px;
  margin-top: -5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.what-if {
  min-width: 200px;
}

.model-chart {
  margin-top: 12px;
  margin-left: 10px;
  padding-bottom: 10px !important;
  background-color: #606060;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.model-chart-label {
  text-align: right;
  padding-right: 3px !important;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.row {
  padding-top: 3px;
  padding-bottom: 3px;
}
.col-sm-9 {
  padding: 0;
  display: inline-block;
  width: 72%;
}
.col-sm-6 {
  padding: 0;
  display: inline-block;
  width: 48%;
}
.col-sm-5 {
  padding: 0;
  display: inline-block;
  width: 41.66%;
}
.col-sm-4 {
  padding: 0;
  display: inline-block;
  width: 33.33%;
}
.col-sm-3 {
  padding: 0;
  display: inline-block;
  width: 25%;
}
.col-sm-2 {
  padding: 0;
  display: inline-block;
  width: 16.667%;
}
.col-sm-1 {
  padding: 0;
  display: inline-block;
  width: 8.333%;
}
.model-input {
  display: inline-block;
  width: 72px;
  margin-top: -5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.model-submit {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.dataset-control {
  float: right;
  margin-top: -40px;
}
.control-form {
  width: 1050px;
  max-width: 1050px;
  min-height: 400px; // so tooltips don't cause flicker
}
.control-container {
  width: 1080px;
}
.control {
  float: left;
  padding-top: 0;
}
.control select,
.control input {
  cursor: pointer;
}
.select-1 {
  width: 380px;
}
.select-2 {
  width: 330px;
}
.bold {
  font-family: sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.center {
  float: none;
  padding: 3px;
  text-align: center;
}
.header {
  width: 140px;
  display: inline-block;
  text-align: right;
}
.smallheader {
  width: 70px;
  display: inline-block;
  text-align: right;
}
.tipsy .tipsy-inner {
  max-width: 400px;
}
.tooltip {
  padding: 0;
  margin-top: 2px;
  display: grid;
  grid-template-columns: 230px 130px; 
}
.tooltip-label {
  font-weight: bold;
  text-align: right;
}
.tooltip-wrap {
  display: table;
  height: 100%;
}
.tooltip-value {
  min-width: 70px;
  padding-left: 8px;
  text-align: left;
  display: table-cell;
  vertical-align: bottom;
}
.axis text {
  fill: #fff;
}
.axis path, .axis line {
  fill: #fff;
}
.axis .domain {
  opacity: 0;
  shape-rendering: crispEdges;
}
.x.label, .y.label {
  fill: #aaa;
}
.tick {
  stroke: #fff;
}
.label {
  fill: #777;
}
.staticLabel {
  fill: #fff;
}
.labelChild {
  font-size: 12px;
}
.date.label {
  font: 500 100px "Helvetica Neue";
  fill: #ddd;
  opacity: .5
}
.date.label.active {
  fill: #aaa;
}
.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}
text {
  fill: #fff;
  opacity: 1;
  font-size: 10px;
}
.pareto-line {
  fill: none;
  stroke: #eee;
  stroke-width: 1.5px;
}
.pareto-legend {
  fill: #fff;
  opacity: 1;
  font-size: 14px;
}

/* These styles are for force graphing
*/
node { 
  stroke-width: 1.5px;
}
.forceCircle {
  cursor: pointer;
}

.forcegraph {
  margin:0 auto;
  width:960px;
  color:#FFF;
  border: 1px dashed #556;
  fill: #334;
}               
line {
  stroke: #666;
}
.text {
  text-align:justify;     
  width:940px;
  height:140px;
  margin: 0 auto;
  color:#FFF;
  font-size:14px;
  line-height:20px;
}
circle.node {
  cursor:pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

/* Search/refine controls */

.yui-b {
  float: left;
  width: 13.8461em;
  position: relative;
}
.refineControls {
  margin: 0;
  padding: 0 0 .5em 0;
  font-size: 12px;
}
.pane {
  background: #778;
  margin: 0 0 1em 0;
  min-width: 200px;
  min-height: 210px;
  padding: .5em .25em .5em .75em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.treeBare {
  padding: 0;
  float: none;
}
.treeShow {
  clear: both;
  padding: 3px 5px 3px 19px;
  margin: .5em 0 0 0;
  cursor: pointer;
  background: #778 url(images/addgif.gif) no-repeat 0 2px;
}
.treeData {
  clear: both;
  margin: 0;
  padding: .25em 0 .25em 22px;
}
.treeData ul {
  display: block;
  list-style-type: none;
/*
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0em;
  -webkit-margin-end: 0em;
  -webkit-padding-start: 22px;
*/
}
.treeData li {
  font-size: 12px;
  margin: 0;
  padding: 3px 0;
  color: #bbb;
  list-style-type: none;
}

h3.searchHeader {
  margin: 2px 0px 2px 2px;
}

a.undoLink {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  width: 45px;
  padding: 0;
  margin: 0;
  background: transparent url(images/UndoBG.gif) no-repeat 0 0;
  color: #F1F1F1;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-indent: 3px;
}

.undoLabel {
  margin: 0 0 0 10px;
  font-size: 12px;
  line-height: 15px;
  padding: 3px 0 6px 0;
}

/* Shades of blue for cloropleth */

.state {
  fill: #fff;
  stroke-width: 1.5;
  stroke: #000;
  opacity: 1;
}

.Blues .q0-9{fill:rgb(247,251,255)}
.Blues .q1-9{fill:rgb(222,235,247)}
.Blues .q2-9{fill:rgb(198,219,239)}
.Blues .q3-9{fill:rgb(158,202,225)}
.Blues .q4-9{fill:rgb(107,174,214)}
.Blues .q5-9{fill:rgb(66,146,198)}
.Blues .q6-9{fill:rgb(33,113,181)}
.Blues .q7-9{fill:rgb(8,81,156)}
.Blues .q8-9{fill:rgb(8,48,107)}
